<div class="user-box">
    <div class="row">
        <div class="col-sm-3">
            <label>Name</label>
            <div>{{userdata.name}}</div>
        </div>
        <div class="col-sm-3">
            <label>Email</label>
            <div>{{userdata.email}}</div>

        </div>
        <div class="col-sm-3">
            <label>Contact</label>
            <div>{{userdata.phone}}</div>
        </div>
        <div class="col-sm-2">
            <label>Website</label>
            <div>{{userdata.website}}</div>
        </div>
        <div class="col-sm-1 text-center">
            <button (click)="openPost()">Posts</button>
        </div>
    </div>
</div>