.navbar-brand{font-weight: 600;     color: #fff !important;}

.navbar-brand img {
    background: #fff;
    border-radius: 3px;
    width: 35px;
    height: 35px;
    margin-right: 20px;
}
/***********End nav Css************************************/
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: 0;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: #52ABFF !important;
    /* background-color: #f7f6f6 !important; */
    background-clip: padding-box;
    border: 0px;
    border-bottom: 1px solid #e2e1e1;
    border-radius: 0px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff!important;
    outline: 0;
    box-shadow: none;
}
.btn-style{    width: 100%;
    border-radius: 0px;
    font-size: 14px;
    font-weight: 500;}
.redirection p {
   
    font-size: 13px;
}
.redirection a {
   color:#007bff;
   text-decoration: none;
    font-size: 13px;
    cursor: pointer !important;
}
.form-group label{
    font-size: 13px;
    color: grey;}
.form-group {
    margin-bottom: 1rem;
    position: relative;
}

.close_eye span{
    position: absolute;
    top: 40px;
    left: auto;
    right: 11px;
    color: gray;
    font-size: 12px;
    cursor: pointer;
}
.err-label {
    margin: 0px;
    font-size: 13px;
    color: red;
}
.lgn-container {
    width: 25%;
    left: 0;
    right: 0;
    margin: auto;
    border: 1px solid #e8e5e5;
    border-radius: 5px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media (max-width: 992px) {
    .lgn-container {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .lgn-container {
        width: 80%;
    }
}

@media (max-width: 435px) {
    .lgn-container {
        height: 100%;
    }
}

.lg-bttn {
    background-color: #05aba3;
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
}


.lg-bttn:hover {
    color: #fff;
    background-color: #05aba3bd !important;
    border-color: #05aba3bd !important;
}

.logo-container {
    padding-top: 49px;
}

.werq-logo {
    width: 150px;
    margin: 0 auto 44px;
    text-align: center;
}

.logo {
    width: 150px;
    margin: 0 auto 10px;
    text-align: center;
}

.version {
    color: #888;
}

.error-text {
    font-size: 12px;
    color: #be0b0b;
}
