<div style="width: 98%;margin: auto;border: 1px green solid;margin-top: 20px;    padding: 10px;">
    <div class="row">
        <div class="col-sm-2">
            <label>Name</label>
            <div>{{userdata.name}}</div>
        </div>
        <div class="col-sm-3">
            <label>Email</label>
            <div>{{userdata.email}}</div>

        </div>
        <div class="col-sm-2">
            <label>Contact</label>
            <div>{{userdata.phone}}</div>
        </div>
        <div class="col-sm-3">
            <label>Website</label>
            <div>{{userdata.website}}</div>
        </div>
        <div class="col-sm-2">
            <button (click)="openPost()">posts</button>
        </div>
    </div>
</div>