<!--<span *ngFor='let emp of userList'>
    <app-user [empDetail]='emp' *ngIf="emp.dept===depName"
        (updateEmployyeList)='updateEmployeeList($event)'>
    </app-user> 
  
</span>-->

<div class="container-fluid">
    <div style="overflow: hidden;
    margin-right: 1%;">
        <input style="margin-left: 1%; margin-top: 1%;float: right;
        clear: both;" [(ngModel)]='serachText' type="text"
            (ngModelChange)='searchUser(serachText)' placeholder="Search User"/>
    </div>
    <span *ngFor='let user of filteredList'>
        <app-user [userData]='user' (openPostEvent)="openPost($event)"></app-user>
    </span>
</div>